@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-size: cover;
        background-image: url('images/homepage.jpg');
    }

    .warningblock {
        background-color: yellow;
        color: black;
        padding: 20px;
        margin: 20px;
        text-align: center;
    }

    .warningletter {
        font: bold;
        font-size: 50%
    }
</style>


<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <p>Discover Unique, <a href=myWork>Handcrafted Treasures.</a></p>
</div>
<! -- https://paintmywall.in/blog/top-5-trends-tips-in-warli-art-wall-painting/ -- /!>

<div class="warningblock">
    <warningletters>MORE TO COME SOON</warningletters>
</div>