<h1>Contact Us!</h1>
<p class="align-content-center">
    <b>Our Story</b>
    <br />
    KhumaloCraft Emporium was born from a deep belief in the beauty of craftsmanship and the power of human connection. We saw a world where talented artisans struggled to find a global audience, and where discerning shoppers yearned for unique, soul-filled pieces. Our mission is to bridge that gap, creating a vibrant marketplace where handcrafted treasures from across the globe can find a home.
    <br />
    <br />
    <b>More Than Just a Store</b>
    <br />
    We're passionate about ethical sourcing, fair trade, and celebrating the rich cultural heritage embedded in each creation. Every purchase you make directly supports the livelihood of an artisan, empowering them to continue their craft and preserve traditional skills for generations to come.
</p>

<br />

<h2>Connect with us on Social Media</h2>
<style>
    button {
        border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
    }
</style>
<div>
    <button id="FB"><img src="~/images/FacebookLogo.png" width="30px" height="30px" ></button>
    <button id="X"><img src="~/images/XLogo.png" width="30px" height="30px" ></button>
    <button id="IG"><img src="~/images/IGLogo.png" width="30px" height="30px" ></button>

    <script type="text/javascript">
        document.getElementById("X").onclick = function () {
            location.href = "https://twitter.com/KhumaloCraft";
        };
    </script>

    <script type="text/javascript">
        document.getElementById("FB").onclick = function () {
            location.href = "https://www.facebook.com/KhumaloCraft";
        };
    </script>

    <script type="text/javascript">
        document.getElementById("IG").onclick = function () {
            location.href = "https://www.instagram.com/khumalocraft/";
        };
    </script>
</div>
