@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body {
        background-image: url('images/homepage.jpg');
        background-size: cover;
    }-

    .circle {
        background: lightgrey;
        border-radius: 50%;
        width: 1000px;
        height: 1000px;
    }
</style>

<h1>Welcome to Khumalo Craft!</h1>
<figure>
    <p class="align-content-center">
        Our Story

        KhumaloCraft Emporium was born from a deep belief in the beauty of craftsmanship and the power of human connection. We saw a world where talented artisans struggled to find a global audience, and where discerning shoppers yearned for unique, soul-filled pieces. Our mission is to bridge that gap, creating a vibrant marketplace where handcrafted treasures from across the globe can find a home.

        More Than Just a Store

        We're passionate about ethical sourcing, fair trade, and celebrating the rich cultural heritage embedded in each creation. Every purchase you make directly supports the livelihood of an artisan, empowering them to continue their craft and preserve traditional skills for generations to come.
    </p>
</figure>

@{
    ViewData["Title"] = "AboutUs";
}

